body{
    background: url(image.jpg)no-repeat center center/cover;
    height:100vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    text-align: center;
    margin:0;
    padding:0;
}
#container{
    background-color: white;
    width:70%;
    margin:auto;
    margin-top:3rem;
    border:3px solid rgb(84, 79, 79);
    border-radius: 5px;
}
h1{
    padding:1rem 0.5rem;
    margin-top: 1px;
    font-size: 3rem;
    margin-bottom:10px;
}
h2{
    font-size:3rem;
    margin-bottom:3rem;
}
p{
    padding:3rem;
}
button{
    border:none;
    border-radius: 5px;
    padding:0.75rem 2rem;
    margin:1rem 0.5rem;
    color:white;
    font-weight: bold;
    font-size:1.2rem;
    width:200px;
}
#increment-btn{
    background-color:darkblue;
    border:1px solid skyblue;
}
#save-btn{
    background-color: darkorchid;
    border:1px solid violet;
}
@media (max-width:570px){
    #increment-btn{
        display: block;
        margin:auto;
    }
}
#increment-btn:hover{
    cursor: pointer;
    background-color:rgb(39, 39, 137);
}
#increment-btn:active{
    background-color: rgb(99, 62, 62);
}
#save-btn:hover{
    cursor: pointer;
    background-color:rgb(166, 87, 206);
}
#save-el{
    font-family: Arial, Helvetica, sans-serif;
}

